<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Events Registration App</a>
        <ul>
            <li><a href="/">Events Board</a></li>
            <li><a href="/seed-a-new">(Re-)Seed Events</a></li>
        </ul>
    </nav>
    <hr>
</header>