<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Events Registration App</a>
        <ul>
            <li><a href="/participants">Participants</a></li>
            <li><a href="/participants/new">Add Participant</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/events/new">Add Event</a></li>
        </ul>
    </nav>
    <hr>
</header>