<header>
    <nav class="navbar">
        <a class="nav-title" href="/"><h1>EventsRegApp</h1></a>
        <ul>
            <li class="nav-link"><a href="/">Events Board</a></li>
            <li class="nav-link"><a href="/seed-a-new">(Re-)Seed Events</a></li>
        </ul>
    </nav>
    <hr>
</header>