<!-- <label for="name">Full Name</label>
<input type="text" id="name" name="name" value="<%= participant.name %>">

<label for="email">Email</label>
<input type="email" id="email" name="email" value="<%= participant.email %>">

<label for="dob">Date of Birth</label>
<input type="date" id="dob" name="dob" value="<%= participant.birthDate %>"> -->