<!-- <h2 class="page-header">Search Participants</h2>
<form action="/participants" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% participants.forEach(participant => { %>
    <div><%= participant.name %></div>
    <div><%= participant.email %></div>
    <div><%= participant.birthDate.toISOString().split('T')[0] %></div>
<% }) %> -->