<h2 class="page-header">New Participant</h2>
<form action="/participants" method="POST">
    <%- include('_form_fields') %>
    <a href="/participants">Cancel</a>
    <button type="submit">Create</button>
</form>