<% events.forEach(event => { %>
    <div>
        <h3><%= event.title %></h3>
        <div><%= event.description %></div>
        <div><%= event.date.toISOString().split('T')[0] %></div>
        <div><%= event.organizer %></div>
        <div>
            <a href="#">Register</a>
            <a href="#">View</a>
        </div>
    </div>
<% }) %>