.events-container {
  border: 2px outset #999999;
  border-radius: 1rem;
  padding: 1rem;
}

.events-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, calc(min(20rem, 65vw)));
}

.event-card {
  padding: 1rem;
  border: 1px solid #999999;
  border-radius: .5rem;
}

.event-card h3 {
  height: 2.5rem;
  margin: 0;
}

.event-card:hover {
  transform: scale(1.05);
  transition: .3s;
}

.event-details {
  height: 10rem;
}

.event-details p {
  font-size: .75rem;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  font-size: .8rem;
  margin: 0 5px;
}

.pagination-arrow {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.pagination-active {
  text-decoration: none;
  color: #6c757d;
  cursor: auto;
}

.pagination-inactive {
  color: #007bff;
  cursor: pointer;
}